*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



html{
    background-color: rgba(0, 0, 0, 0.417);
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7a51839c-067c-4c4e-9807-2d0df5746f1b/d87xvux-7a6adeec-683c-4349-9025-e5b947aa2bb2.jpg/v1/fill/w_1024,h_576,q_75,strp/anime_collage_by_dinocozero_d87xvux-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvN2E1MTgzOWMtMDY3Yy00YzRlLTk4MDctMmQwZGY1NzQ2ZjFiXC9kODd4dnV4LTdhNmFkZWVjLTY4M2MtNDM0OS05MDI1LWU1Yjk0N2FhMmJiMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3ETyOW1-iC0h6g19IRxC8eZDM5EKrjogD2gRG3DbnQ8') ;
    background-size: cover; /* Optional: adjust the image size */
    background-position: center center; /* Optional: center the image */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

html::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    z-index: -1; /* Place the overlay behind the content */
  }

  #logo1{
    height: 50%;
    width: 50%;
    position: relative;
    left: 60px;
    margin: 20px;
  }
  

  #mpholder{
    display: flex;
    flex-direction: column;

  }

  #button{
    background-color: rgb(149, 6, 13);
    
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
    margin: 10px;
    padding: 8px;
  }

  #button:hover{
    cursor: pointer;
    background-color: rgb(229, 9, 20);
  }